.App {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.Selectors,
.Chosen,
.Results {
  padding: 15px;
}

.Selectors > div {
  padding: 5px;
}

.Selectors input {
  margin-right: 15px;
}

.InputsSection {
  display: flex;
  flex-direction: row;
}

.Results {
  flex: 1;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}

.Results .List {
  width: 300px;
  height: 100%;
  overflow-y: scroll;
}

.Results .Graph {
  flex: 1;
}
